{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block content %}
<h1>Search</h1>




<div class="mx-auto mt-5" style="width: 500px;">


    <form action="/search" method="POST">
        <div class="form-group">
          <input name="s" type="text" class="form-control" id="exampleInputSearch" aria-describedby="searchHelp" placeholder="Type for search . .">
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
  </div>
{% endblock %}
